@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: OpenSans, Arial, sans-serif;
}

p {
  margin: 0;
}



.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
/* для добавления скрытого описаня для скрин ридеров*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.header {
  padding-top: 28px;
  background-color: #666666;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}

.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
}
/* Линейка логотип и меню в шапке */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  width: 182px;
}

.logo-link {
  text-decoration: none;
}

/* Меню сайта */
.nav__button {
  display: none;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 35px;
  font-size: 13px;
}

.nav-link {
  text-transform: uppercase;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Header-content */

.header-intro {
  text-align: center;
  max-width: 720px;
  margin: auto;
  padding: 100px 0 130px;
}

.header-title {
  margin: 0;
  font-size: 45px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.6em;
}

/* Trends */

.trends-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 14px;
  width: 100%;
}

.trends-title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 7px auto;
  border-bottom: 3px solid #b59f5b;
}
.trends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.trend-card {
  background-color: #eff5f1;
  width: calc((100% - 15px) / 4);
  min-height: 320px;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 0;
}

.trend-card::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  z-index: -1;
}

.trend1 {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.trend2 {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend3 {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend4 {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-content {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  border: 3px solid #b59f5b;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 16px;
}
.trend-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.trend-tag {
  list-style-type: none;
}

.trend-tag-link {
  text-decoration: none;
  color: inherit;
}

.trend-card-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2em;
  text-transform: uppercase;
}



/* Main */

.content {
  margin-top: 64px;
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
 /* gap: 35px; */
}

/* Main-news */


.post-list {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  gap: 30px;
}

.post:nth-child(n + 2) {
  margin-top: 55px;
}

.post-picture {
  margin: 0;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.post-tag {
  list-style-type: none;
}

.post-tag:hover {
  text-decoration: underline;
}

.post-tag-link {
  text-decoration: none;
  color: inherit;
}

.post-title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 20px;
}

.post-title:hover {
  color: #b59f5b;
}

.post-title-link {
  text-decoration: none;
  color: inherit;
}

.data-author {
  display: flex;
  gap: 8px;
  font-size: 12px;
  margin-bottom: 45px;
}
.data {
  color: #888888;
}

.author {
  font-weight: 700;
}

.post-text {
  font-size: 15px;
  line-height: 1.5em;
}
/* Main-sidebar */

.sidebar {
  width: 272px;
  margin-left: 125px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.aside-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.aside-title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 7px auto;
  border-bottom: 3px solid #b59f5b;
}

.sidebar-data {
  color: #888888;
  font-size: 12px;
}

/* Новые посты */

.latest-posts-list {
  width: 272px;
  display: flex;
  flex-direction: column;
}

.latest-post {
  display: flex;
  gap: 20px;
  margin-top: 21px;
}

.latest-post-picture {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
}

.latest-post-frame {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.latest-post-heading {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}

.latest-post-link {
  text-decoration: none;
  color: inherit;
}

.latest-post-heading:hover {
  color: #b59f5b;
}
/* блок найти */

.form-search {
  margin-top: 62px;
  display: flex;
}
.search-field {
  width: 100%;
  display: flex;
}

.field {
  box-sizing: border-box;
  background-color: #f4f7f6;
  padding: 15px 20px;
  border: 0;
  font-size: 13px;
  flex-grow: 1;
}

.field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.button-search {
  box-sizing: border-box;
  width: 56px;
  height: 50px;
  background-color: #b59f5b;
  border: 0;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.button-search:hover {
  background-color: #323232;
}

/*  Блок подписаться  */

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.subscribe-field {
  box-sizing: border-box;
  width: 100%;
  background-color: #f4f7f6;
  padding: 13px 20px;
  border: 0;
  font-size: 13px;
}

.subscribe-field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.subscribe-button {
  box-sizing: border-box;
  width: 100%;
  background-color: #b59f5b;
  padding: 16px;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.subscribe-button:hover {
  background-color: #323232;
}

/*  Блок тегов  */

.tags {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 19px 0 0;
}

.tag {
  list-style-type: none;
  border: 3px solid #f4f3f1;
  padding: 4px 14px;
  text-transform: uppercase;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
}

.tag-link {
  text-decoration: none;
  color: #000000;
}

.tag:hover {
  border: 3px solid #b59f5b;
}

/* блок тем */

.categories {
  display: flex;
  flex-direction: column;
}

.categories-list {
  padding-left: 0;
}

.category {
  list-style-type: none;
  padding-bottom: 7px;
  border-bottom: 1px solid #eeeeee;
}

.category:nth-child(n + 2) {
  padding-top: 16px;
}

.categories-link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
}

.categories-link:hover {
  color: #b59f5b;
}

.count-articles {
  color: #b59f5b;
  font-size: 12px;
  font-weight: 700;
  vertical-align: super;
}

/* блок товаров из магазина */



.shop-items-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  width: 100%;
}

.shop-items-title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 7px auto 7px;
  border-bottom: 3px solid #b59f5b;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 44px);
  margin-top: 25px;
}

.shop-item:nth-of-type(n + 2) {
  margin-left: 66px;
}

/* .shop-item__picture {
    object-fit: contain; 
  background-color: #eff5f1;
  background-size: contain; 
} */

.shop-item__body {
  /* box-sizing: border-box;
  outline: 3px solid #b59f5b;
  outline-offset: 24px;
  margin-top: -10px;
   width: 100%; */
  margin-top: -35px;
  padding: 25px 19px;
  border: 3px solid #b59f5b;
  flex-grow: 1;
}

/*.shop-item__content {
   min-height: 200px;
}  */
.shop-item__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.shop-item__discription {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 23px;
  line-height: 1.5em;
}

.shop-item__link {
  text-decoration: none;
  color: #b59f5b;
}

.shop-item__link:hover {
  text-decoration: underline;
}

.shop-item__footer {
  display: flex;
  justify-content: space-between;
}

.shop-item__prices {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.shop-item__price {
  font-size: 20px;
  font-weight: 700;
}

.shop-item__price_old {
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 700;
}

.shop-item__button {
  width: 140px;
  height: 48px;
  color: #ffffff;
  background-color: #b59f5b;
  border: 2px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}


/* блок соцсетей */

.socials {
  display: flex;
  justify-content: center;
  background-color: #f4f7f6;
  padding: 30px 0;
  list-style-type: none;
  margin-top: 65px;
}

.socials-link {
  display: block;
  text-decoration: none;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  padding-left: 25px;
}

.social-link_dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.social-link_pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social-link_tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

/* блок копирайт */

.copyrights {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 12px;
  font-weight: 700;
}

.copyrights-link {
  text-decoration: none;
  color: #999999;
}

/* Pop-up */
._hidden {
  display: none;
}

.popup__container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  padding: 57px 15px;
  display: flex;
}

.fedback {
  max-width: 390px;
  padding: 54px 30px;
  margin: auto;
  background-color: #ffffff;
  position: relative;
  box-sizing: border-box;
}

.popup__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.popup__title::after {
  content: "";
  display: block;
  width: 66px;
  margin: 14px auto 0;
  border-bottom: 3px solid #b59f5b;
}
.popup__form-group {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
}

.popup__select-group {
  margin-top: 30px;
}

.select-group {
  width: 100%;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
  margin-top: 10px;
  background-color: #f4f7f6;
  border: 1px solid #f4f7f6;
  font-family: inherit;
  font-size: 13px;
  background-image:   url("https://raw.githubusercontent.com/netology-code/mq-diploma/44ce368d08172b8bcfd9e57182932478dd8dc022/sources/svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: right 15px center;
}

.select:focus {
  border: 1px solid #b9a464;
}

.popup__radio-group {
  margin-top: 30px;
  font-size: 13px;
}

.radio-hint {
  width: 100%;
  margin-bottom: 10px;
}

.radio-group {
  font-size: 13px;
  display: inline-block;
}

.radio-group:nth-of-type(n + 2) {
  margin-left: 15px;
}

.radio-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/44ce368d08172b8bcfd9e57182932478dd8dc022/sources/svg/form-empty-circle.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  margin-right: 5px;
}

.radio{
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
.radio:checked ~ .radio-text::before {
  background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/44ce368d08172b8bcfd9e57182932478dd8dc022/sources/svg/form-circle.svg");
}

.popup__field-group {
  margin-top: 30px;
}

.textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #f4f7f6;
  background-color: #f4f7f6;
  resize: none;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  padding: 20px;
  font-family: inherit;
  margin-top: 10px;
}

.textarea:focus {
  border: 1px solid #b9a464;
}

.popup__submit-group {
  margin-top: 27px;
}

.popup__button {
  width: 100%;
  height: 50px;
  border-radius: 0;
  border: 1px solid #b59f5b;
  background-color: #b59f5b;
}

.popup__button:hover {
  background-color: #323232;
  border: 1px solid #323232;
}

.popup__button-label {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2.8;
  font-weight: 700;
}

.popup__close {
  font-size: 18px;
  width: 1em;
  height: 1em;
  position: absolute;
  top: -1.5em;
  right: -0.1em;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.popup__close:before,
.popup__close:after {
  width: 1.4em;
  height: 0.2em;
  content: "";
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.popup__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

/*  Медиазапросы для планщетной версии */
@media (min-width: 640px) and (max-width: 1199px) {
  
  /* pop up */
  
  .popup__title {
    font-size: 18px;
  }

  .popup__close {
    font-size: 27px;
  }
  .container{
    padding: 0 35px;
  }



  /* Header */
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
    padding-top: 0;
  }

  .header-nav {
    padding-top: 42px;
  }

  .logo {
    width: 53%;
  }
  
  .nav__button {
    display: block;
    width: 1.1em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .nav__button::before, .nav__button::after {
    content: "";
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .nav__button::before {
    top: 0;
  }

  .nav__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }
  
  .nav__button::after {
    bottom: 0;
  }



  .nav-list {
    display: none;
  }
  .header-intro {
    margin: auto;
    padding: 86px 0 111px;
  }

  .header-title {
    font-size: 40px;
    line-height: 1.4em;
    max-width: 620px;
    margin: 0 auto;
  }

  /* тренды */ 
  .trends-title {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 8px;
  }

  .trend-card {
    min-height: 247px;
    width: calc((100% - 5px) / 2);
  }
  .trend-card-title {
    font-size: 17px;
    line-height: 1.3em;
  }

  .trend-content {
    padding: 29px 30px;
    margin-left: 20px;
    margin-right: 19px;
    margin-bottom: 16px;
  }
  .trend-tags {
    gap: 19px;
    margin-bottom: 7px;
  }
  /* контент с постами и sidebar */

  .content {
    margin-top: 47px;
    margin-bottom: 42px;
  }

  .main {
    width: calc(100% - 272px);
    
  }

  .sidebar {
    margin-left: 35px;
  }

  .sidebar-data {
    line-height: 14px;
  }



  .post {
    flex-direction: column;
    gap: 8px;
    border-bottom: 3px solid #eeeeee;
  }
  .post:nth-child(n + 2) {
    margin-top: 43px;
  }

  .post-tags {
    gap: 19px;
  }

  .post-title {
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .data-author {
    margin-bottom: 27px;
    gap: 6px;
  }

  .post-text {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .picture {
    width: 100%;
  }
  .latest-post {
    margin-top: 22px;
  }
  .categories-list {
    margin-top: 13px;
  }

  .category:nth-child(n + 2) {
    padding-top: 11px;
}
  .category {
    padding-bottom: 12px;
  }
  
  /* Наши изделия */
  .shop-items-title {
    font-size: 18px;
  }
  .shop-item {
    width: calc(48%);
  }

  .shop-item:nth-of-type(n + 2) {
    margin-left: 0;
  }

  .shop-item:nth-of-type(2n) {
    margin-left: 2%;
  }

  .shop-item__picture {
    width: calc(100% - 40px);
  }

  .socials {
    margin-top: 38px;
  }

  .copyrights {
    margin-top: 45px;
  }
}

@media (max-width: 640px) {
  
  /* pop up */
  .fedback {
    padding: 30px 30px;
  }

  .popup__title {
    font-size: 16px;
  }

  .popup__close {
    font-size: 27px;
  }


  /* Header */
  .header {
    background-image: url(../images/banner-mobile.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav {
    position: absolute;
    top: 30px;
    right: 15px;
  }

  .header-nav {
    justify-content: center;
  }

  .logo {
    width: 75vw;
  }

  .nav__button {
    display: block;
    width: 1.1em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .nav__button::before, .nav__button::after {
    content: "";
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .nav__button::before {
    top: 0;
  }

  .nav__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }
  
  .nav__button::after {
    bottom: 0;
  }



  .nav-list {
    display: none;
  }

  .header-intro {
    margin-top: 14px;
    padding: 16px 0;
  }

  .header-title {
    font-size: 26px;
    line-height: 1.4em;
  }

  /* тренды */

  .trends-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 38px;
  }

  .trend-card {
    width: 100%;
    min-height: 230px;
  }
  .trend-content {
    padding: 26px 20px;
    margin: 15px;
  }

  .trend-tags {
    gap: 19px;
  }
  .trend-card-title {
    font-size: 16px;
    line-height: 1.25em;
  }

  /* контент с постами и sidebar */
    
  .content {
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 27px;
  }

  .main {
    width: 100%;
    margin-right: 0;
  }
  .sidebar {
    width: 100%;
    margin-left: 0;
    gap: 38px;
    margin-top: 38px;
  }


  .post-title {
    font-size: 16px;
    line-height: 1.25em;
    margin-bottom: 18px;
  }
  .post {
    flex-direction: column;
    gap: 9px;
    border-bottom: 3px solid #eeeeee;
  }
  .post:nth-child(n + 2) {
    margin-top: 35px;
  }

  .post-tags {
    gap: 19px;
    margin-bottom: 9px;
    line-height: 1em;
  }

  .picture {
    width: 100%;
  }

  .data-author {
    margin-bottom: 15px;
  }

  .post-text {
    font-size: 14px;
    line-height: 1.4em;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .aside-title {
    font-size: 16px;
  }
  .latest-posts-list {
    width: 100%;
  }
  .latest-post {
    margin-top: 23px;
  }
  .form-search {
    margin-top: 58px;
  }

  .tag {
    padding: 5px 12px 4px 12px;
  }

  .shop-items-title {
    font-size: 16px;
  }

  .shop-item {
    width: 100%;
    margin-top: 22px;
  }

  .shop-item:nth-of-type(n + 2) {
    margin-left: 0;
  }

  .shop-item:nth-of-type(2n) {
    margin-left: 0;
  }

  .shop-item__body {
    padding: 30px 19px;
  }
  .shop-item__title {
    font-size: 16px;
  }

  .shop-item__picture {
    width: calc(100% - 45px);
  }
  .socials {
    margin-top: 38px;
  }

  .copyrights {
    margin-top: 45px;
  }
}


@media (orientation: landscape) and (max-width: 640px) {
  .trend-card {
    width: calc((100% - 5px) / 2);
  }
}

@media (orientation: landscape) and (min-height: 641px) {
  .trend-card {
    width: calc((100% - 15px) / 4);
  }
}

/* @media (max-width: 1199px) and (min-width: 641px) and (orientation: landscape) {
  .trend-card {
    width: calc((100% - 15px) / 4);
  }
  .trend-card-title {
    font-size: 17px;
    line-height: 1.3em;
  }
}

@media (max-width: 1199px) and (min-width: 641px) and (orientation: portrait) {
  
}

@media (orientation: landscape) and (max-width: 640px) {
  .trend-card {
    width: calc((100% - 5px) / 2);
  }
  .trend-content {
    padding-left: 22px;
    padding-right: 22px;
  }
  .trend-card-title {
    font-size: 16px;
    line-height: 1.25em;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  
} 
*/